<header class="navbar">
  <h3><span>Easy</span> <span>Peasy</span> <span>Logger</span></h3>
  <div class="right-part">
    <a class="package-title" href="https://www.npmjs.com/package/@costlydeveloper/easy-peasy-logger" target="_blank">
      npm: <span>@costlydeveloper/easy-peasy-logger</span>
      <div class="version">
        <small> v: {{ awesomePopupVer }}</small>
      </div>
    </a>

    <div class="links-group">
      <a class="circle-link npm-link" href="https://www.npmjs.com/package/@costlydeveloper/easy-peasy-logger" rel="noopener">
        <img src="https://raw.githubusercontent.com/costlydeveloper/easy-peasy-logger/main/docs/assets/npm.png" alt="Npm repo" />
      </a>
      <a class="circle-link" href="https://github.com/costlydeveloper/easy-peasy-logger" rel="noopener">
        <img
          src="https://raw.githubusercontent.com/costlydeveloper/easy-peasy-logger/main/docs/assets/GitHub-Mark-32px.png"
          alt="GitHub repo"
        />
      </a>
    </div>
  </div>
</header>
